<p>Noted supports syncing your notes to your <a href="http://dropbox.com">Dropbox</a> account. To do so, simply click the &quot;Sign in to Dropbox&quot; button. You&#39;ll be redirected to Dropbox to authorize Noted to use your account.</p>

<p>Noted only utilizes your <code>/Apps/Noted-App</code> folder. It exports (saves) by simply replacing all of the files in the <code>/Apps/Noted-App/notes</code> folder with your current notes, and imports by replacing your notes in Noted with the files in the <code>notes</code> folder.</p>

<p>The files Noted exports are human-readable text files. </p>
