<h2>Key Reference</h2>

<h3>Movement Mode</h3>

<h4>Movement</h4>

<ul>
<li>Click an item to select it</li>
<li><code>j/down arrow</code> - Move selection down one item</li>
<li><code>k/up arrow</code> - Move selection up one item</li>
</ul>

<h4>Editing</h4>

<ul>
<li><code>space/double click</code> - Edit item</li>
<li><code>enter</code> - Insert new item on the next line with the same indention level</li>
<li><code>backspace/d</code> - Delete item(s)</li>
<li><code>shift + (backspace/d)</code> - Delete item &amp; children</li>
<li><code>tab/l</code> - Indent item(s) one level</li>
<li><code>shift+l/shift+&gt;</code> - Indent item &amp; children one level</li>
<li><code>shift+tab/h/shift+&lt;</code> - Unindent item &amp; children one level</li>
</ul>

<h4>Clipboard</h4>

<ul>
<li><code>x</code> - cut item </li>
<li><code>c</code> - copy item</li>
<li><code>v</code> - paste item(s) below current line</li>
<li><code>shift+x</code> - cut item and children</li>
<li><code>shift+c</code> - copy item and children</li>
</ul>

<h3>Edit Mode</h3>

<ul>
<li><code>enter</code> - Save item &amp; exit edit mode</li>
<li><code>escape</code> - Revert changes &amp; exit edit mode</li>
<li><code>tab</code> - Indent one level</li>
<li><code>shift+tab</code> - Outdent one level</li>
</ul>

<h3>Misc.</h3>

<ul>
<li><code>shift+f</code> - fullscreen (experimental)</li>
<li><code>?</code> - show help</li>
</ul>

<h2>Formatting</h2>

<p>Noted supports a small subset of <a href="http://daringfireball.net/projects/markdown/">Markdown</a> for formatting.</p>

<ul>
<li>Italics: <code>*italicized text*</code> or <code>_italicized text_</code></li>
<li>Bold: <code>**bolded text**</code> or <code>__bolded text__</code></li>
<li>Fixed/monospace: <code>`monospace text`</code></li>
<li>Links: <code>http://google.com</code> will be automatically made into a link, or you can use the <code>[title](link)</code> format (i.e.) <code>[Google](http://google.com)</code></li>
<li>Images: <code>![](http://placekitten.com/200/300)</code> <em>(note that images will not be saved for offline viewing)</em></li>
</ul>
