<div id="update-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Update Modal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Update Available</h3>
  </div>
  <div class="modal-body">
    <p>A new update has been downloaded for Noted! Refresh to view the current version.</p>
  </div>
  <div class="modal-footer">
    <button id="update-confirm" class="btn btn-primary">Update Now</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close &amp; Update Later</button>
  </div>
</div>
