<div class='controls top'>
  {{outlet top_controls}}
</div>

<div class="main">

  <div class="sidebar-pane">
  {{outlet list}} 
  </div>

  <div class="body-pane">
  {{outlet note}}
  </div>

</div>

<div class='controls bottom'>
  {{outlet bottom_controls}}
</div>

<script>
$(".sidebar-pane").resize(function(e) {
  $(".body-pane").css("margin-left", $(e.target).width() + "px");
})
</script>
