<div class="wrapper">

  <header>
    <div class='left'>
      <h1>Noted</h1>
    </div>
    <div class='right'>
      press ? for help
    </div>
  </header>

  {{outlet}}

  <footer>
    <!-- ... -->
  </footer>

</div>