{{#with listItem}}
  <li {{bindAttr class=':entry-item isActive isHighlighted'}} {{bindAttr style='computedIndentionStyle'}}>
    {{! Doesn't show the span until text has been loaded }}
    {{#if text}}
      <span>{{{markedText}}}</span>
    {{/if}}
  </li>
{{/with}}
