{{#with listItem}}
<li {{bindAttr class=':entry-item isActive isHighlighted'}} {{bindAttr style='computedIndentionStyle'}}>
  <span>    
    {{view Noted.ItemTextArea valueBinding=text itemBinding=this}}
  </span>
  </li>
{{/with}}
