{{#with listItem}}
  <li {{bindAttr class=':entry-item isActive isHighlighted'}} {{bindAttr style='computedIndentionStyle'}}>
    {{view Noted.ItemTextArea valueBinding=text itemBinding=this}}
  </li>
{{/with}}
