<ul class="notes-list unstyled">
  {{#each note in content}}
    <li {{bindAttr class='isSelected'}}>{{#linkTo note note}}{{note.title}}{{/linkTo}}</li>
  {{/each}}
</ul>

<a href="#" {{action "createNote"}}>Create New Note</a>