<h3>Notes</h3>

<ul id="notes">
  {{#each note in content}} {{! this is gross, change later }}
    <li>{{#linkTo note note}}{{note.title}}{{/linkTo}}</li>
  {{/each}}
</ul>

<a href="#" {{action "createNote"}}>Create New Note</a>