{{#view Noted.AppWindowView }}

<div class='controls top'>
  &nbsp;
</div>
<div class="main">
  <div class="body-pane full-width">
    <div class="scroller">
      <p>Page does not exist.</p>
      <button id="home-button" class="btn">Return home</button>
    </div>
  </div>
</div>
<div class='controls bottom'>
  &nbsp;
</div>

<script>
  $("#home-button").click(function() {
    Noted.Router.router.transitionTo("index");
  })
</script>

{{/view}}