<h2>About</h2>

<p>Noted is a note-taking app that uses a modal interface. This makes it super easy to manipulate outlines - quickly move lines around, reindent them, etc. For more usage information, see the <a href="/">Home</a> and <a href="#" class="help-link">Help</a> pages.</p>

<p>Noted was made by <a href="http://thomasboyt.com">Thomas Boyt</a> at <a href="http://hackerschool.com">Hacker School</a>. You should totally follow him on <a href="https://twitter.com/thomasaboyt">Twitter</a> and <a href="https://github.com/thomasboyt">GitHub</a>.</p>

<h2>What&#39;s New?</h2>

<p><em>March 23</em></p>

<ul>
<li>This was begun a while ago, but there are now various <strong>block commands</strong> in place for moving around an item and the &quot;sub-items&quot; below and to the right of it:

<ul>
<li><code>shift+x</code> cuts a block of items</li>
<li><code>shift+c</code> copies a block of items</li>
<li><code>shift+delete</code> deletes a block of items</li>
<li><code>shift+l</code> indents a block of items</li>
<li><code>shift+tab</code> unindents a block of items</li>
</ul></li>
<li>You will now be notified when an update to Noted is available.</li>
<li>There is now a fancy new welcome screen on the home page.</li>
</ul>

<p><em>February 27</em></p>

<ul>
<li>Added Markdown formatting! You now use <code>*italics*</code>, <code>**bold**</code>, <code>[links](http://placekitten.com)</code>, <code>`code/fixed-width/monospace bits`</code>, and <code>![images](http://placekitten.com/200/300)</code>.</li>
<li>Fixed Dropbox syncing bugs, and actually enabled Dropbox for users besides me (turns out there&#39;s an approval process and everything!).</li>
</ul>

<p><em>February 26</em></p>

<ul>
<li>You can now &quot;full-screen&quot; the faux-window in Noted with <code>shift+f</code>.</li>
<li>This about page now exists!</li>
<li>Noted now features a full clipboard

<ul>
<li>Deleting an item, whether with d, backspace, or x, will place a copy in your clipboard</li>
<li>You can also copy an item with c...</li>
<li>...and, either way, press v to paste it.</li>
</ul></li>
<li>Noted also has very beta Dropbox support!

<ul>
<li>You can sign in with Dropbox using the button in the bottom right, and import or export all of your notes as flat text files</li>
<li>This is an early feature, and should not be relied on as your exclusive backup choice! If you care about your notes, make sure to make copies of your notes folder in Dropbox every now and then.</li>
<li>Also, heed the various warnings in the sync dialogs - when you import or export, your entire note set will be replaced! test test</li>
</ul></li>
<li>Finally, Noted now has offline support.

<ul>
<li>Visiting <a href="http://noted.herokuapp.com">http://noted.herokuapp.com</a>, even while completely offline (literally; try disabling your wi-fi), will give you a totally usable version of the page.</li>
<li>The flip side to this is that when Noted gets an update, it won&#39;t actually update in your browser until you refresh the page. You&#39;ll soon start seeing popups informing you when an update is available . Don&#39;t blame me, blame HTML5!</li>
</ul></li>
</ul>

<h2>Technical Details</h2>

<p><strong>Front-end:</strong> Noted uses <a href="http://emberjs.com">Ember.js</a> as its framework, along with several other libraries, including RSVP.js, several of Ben Alman&#39;s jQuery plugins, jwerty, Dropbox.js, Marked (for Markdown formatting), and finally <a href="https://github.com/rpflorence/ember-localstorage-adapter">rpflorence&#39;s invaluable localStorage adapter for ember-data</a>. </p>

<p>For styling, Noted uses LESS with Bootstrap and the Font Awesome icon font. Noted also uses HTML5&#39;s Application Cache abilities for offline support.</p>

<p><strong>Back-end:</strong> While Noted has no actual backend API, it relies on Rails (and the Ember-Rails gem) for building and serving its content. It also uses wycats&#39;s <a href="https://github.com/wycats/rack-offline">Rack::Offline</a> to generate its application cache manifest.</p>

<p>Oh, and finally, this about page and several other templates were written in Markdown compiled with Redcarpet.</p>
