<p>Noted is a note-taking app that uses a modal interface. This makes it super easy to manipulate outlines - quickly move lines around, reindent them, etc.</p>

<p>Below is a mostly-speculative user guide, since the majority of these commands are not implemented yet (thus the strikethroughs).</p>

<h2>Command Reference</h2>

<p>(ctrl/cmd are interchangeable)</p>

<p>In addition to the below bindings, there&#39;s also some secret-ish VIM bindings (that are also half-implemented). Eventually there will be a toggle between &quot;Noted&quot; bindings and &quot;VIM&quot; bindings.</p>

<h3>Command Mode</h3>

<del>There are two selection modes in command mode: single and multi. In single mode, the selection is whatever item you navigate to. In multi mode, which is entered by pressing s on the first item you want to select, each selected item is highlighted yellow, with the navigation cursor turning green.</del>

<h4>Selecting</h4>

<ul>
<li>Click an item to select it</li>
<li>j/up arrow - Move selection down one item</li>
<li>k/down arrow - Move selection up one item</li>
<li><del>a - Select first item</del></li>
<li><del>f - Select last item</del></li>
<li><del>s - Add item to selection</del></li>
<li><del>d - Remove item from selection</del></li>
</ul>

<h4>Editing</h4>

<ul>
<li>space/double click - Edit item</li>
<li><del>c - Change item (same as edit item but highlights all text so it can be replaced, copied, cut, etc)</del></li>
<li>backspace/d - Delete item(s)</li>
<li>tab/l - Indent item(s) one level</li>
<li>shift+tab/h - Outdent (probably not a word) item(s) one level</li>
</ul>

<h4>Clipboard</h4>

<ul>
<li><del>x - cut item(s)</del></li>
<li><del>c - copy item(s)</del></li>
<li><del>v - paste item(s) below current line</del></li>
</ul>

<p>(VIM bindings mode will be different)</p>

<h4>Inserting</h4>

<ul>
<li>enter - Insert new item on the next line with the same indention level</li>
<li><del> shift+enter - Insert new item on the next line with one indention level deeper</del></li>
<li><del>ctrl+enter - Insert new item on the next line with one indention level less </del></li>
</ul>

<h3>Edit Mode</h3>

<ul>
<li>enter - Save item &amp; exit edit mode</li>
<li>escape - Revert changes &amp; exit edit mode</li>
<li>tab - Indent one level</li>
<li>shift+tab - Outdent one level</li>
</ul>

<h2>Formatting</h2>

<ul>
<li><del><code>_underscores_</code> put text in italics</del></li>
<li><del><code>*asterisks*</code> bold text</del></li>
</ul>
