<h1>Welcome to Noted</h1>

<p>Noted is a powerful note-taking tool built for speed. Inspired by powerful text editors like VIM and Emacs, Noted makes manipulating outlines faster and easier than in traditional text editors. Never touch your mouse again!</p>

<h3>Online...</h3>

<p>Export or import your notes to Dropbox with one click. Noted exports notes in a readable, plain-text format that can be viewed on everything from an iPhone to a Palm Pilot.</p>

<h3>...and Offline</h3>

<p>Noted works offline just as well as it does online, without any extra downloads or plugins required. If you&#39;re stuck without a connection, just navigate to <code>http://noted.herokuapp.com</code> as you normally would.</p>

<h3>Be Expressive</h3>

<p>Noted supports a subset of Markdown for formatting your text.</p>
