{{#view Noted.AppWindowView }}
  <div class='controls top'>
    &nbsp;
  </div>
  <div class="main">
    <div class="body-pane full-width">
      <div class="scroller">
        {{partial "static/about_content"}}
      </div>
    </div>
  </div>
  <div class='controls bottom'>
    &nbsp;
  </div>
{{/view}}