<!DOCTYPE html>
<% if Rails.env == "production" %>
  <html manifest="/application.appcache">
<% else %>
  <html>
<% end %>
<head>
  <title>Noted</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
</head>
<body>

<%= yield %>

</body>
</html>
